.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none !important; 
  color: #014fa3 !important;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  border-bottom: 2px solid transparent; /* Adds a hover effect */
  padding-bottom: 2px;
}

a:hover {
    color: #0056b3; /* A darker blue on hover */
    border-bottom: 2px solid #0056b3; /* Adds a modern underline effect */
}

.text-dark-blue{
  color: rgb(33,45,67) !important;
}

.survey-builder{
  border-style: solid;
  border-radius: 1em;
  border-color:lightgrey;
  border-width: 1px;
  background-color: rgb(238,242,244, 0.85);
}

.question-builder{
  border-style: solid;
  border-radius: 1em;
  border-color:darkgrey;
  border-width: 1px;    
  padding: 1em;  
  background-color:rgb(247,250,251, 0.7)
}

#multipleChoiceDiv{
  border-width: 0px;     
  padding-top: 1em;
   background-color:rgb(251,250,247, 0) !important; 

}

.answer-letter{
  display: none;
}

@media (min-width: 576px) {
  .question-builder{
    padding: 2rem;
  }

  .answer-row{
    padding-inline:2em;
  }

  .answer-letter{
    display:inline;
    padding:0 !important;
  }

  .delete-ans{
    padding:0 !important;
  }

  .save-delete-survey-btn {
    width: 25%;
  }
}

.App-link {
  color: #61dafb;
}

.main {
  color: rgb(33,45,67) !important;
  min-height: 100vh;
  word-wrap: break-word;
  background-image: 
  /* linear-gradient( to bottom, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0) 70%), */
    url('/public/assets/tim-arterbury-hsztMXLuC6s-unsplash.webp') ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y:auto;
}

.nav {
  font-weight: bold;
  text-align: center;
  background-color: white;
  font-size: 22px;
  margin: auto;  
  padding: 6%;
  
}

.custom-green-btn{
  background-color:rgb(61,141,92, 0.9) !important;
  color: white !important;
}

.custom-green-btn:hover{
  background-color: rgb(46,105,68) !important;
}

.custom-blue-btn{
  background-color: rgb(96,133,166) !important;
  color: white !important;
}

.outline-custom-blue-btn{
  border-color: rgb(96,133,166) !important;
  color: rgb(119,150,179) !important;
}

.custom-dark-blue-btn{
  background-color: rgb(33,45,67) !important;
  color: white !important;
}

.custom-dark-blue-btn:hover{
  background-color: rgb(100,128,179)  !important;
}

.custom-blue-btn:hover{
  background-color: rgb(63,89,112) !important;
}



.blue-btn-selected{
  box-shadow: 3px 3px 10px rgba(33,45,67);
}

.editSelect{
  margin-left: auto;
  margin-right: auto;
  min-width: 50em;  
}

.title-card {
  color: rgb(33,45,67) !important;
  border-color: darkgrey;
  display: inline-block;
  justify-self: center;
  background-color: rgba(255,255,255, 0.9) !important;

}

.surrounding-card {
  background-color: rgba(255,255,255, 0) !important;
}

@media (min-width: 768px) {
  .title-card{
    padding-left: 2em;
    padding-right:2em;
  }

  .surrounding-card {
    width:85%;
    justify-self: center;
  }

  .question-builder {
    width: 90%;
    justify-self: center;    
  }

  .survey-builder {    
    padding: 1em;
  }
}

@media (min-width: 1024px) {
  .surrounding-card {
    width:70%;
    justify-self: center;
  }
}

@media (min-width: 1400px) {
  .answer-row{
    padding-left: 3em;
    padding-right: 3em;
  } 
}

@media (min-width: 1700px) {
  .answer-row{
    padding-left: 4em;
    padding-right: 4em;
  } 
}

.medtextbox{
  width: 30%;
}

.text-input {    
  width: 100%; 
  font-size:small; 
}

.alignCentre{
  text-align: center;
}

.floatCenter{
  justify-content: center;
  background-color: #a1101f;
}

.button:hover{
  cursor: pointer;
}

.btn-primary{
  opacity: 0.85;
}

.btn-delete{
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
  border-radius: 4px;
}

#createButton {
  float: center;    
  height: 4rem;
  font-size: large;
  border-width: 2px;
  border-radius: 0.75rem;  
}

#editButton{
  float:right;
  margin-right:70%;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
