.App {
  text-align: center;
  /* background-color: cadetblue; */
   /* background-color: white; */
  /* background: url('../public/assets/tim-arterbury-hsztMXLuC6s-unsplash.webp') ; */
   /* background-image: url('/public/assets/takeASurveyBackground.jpeg') ; /*no-repeat center center fixed; */
   /* background-attachment: fixed;
   background-repeat: no-repeat;  */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.survey-builder{
  border-style: solid;
  border-radius: 1em;
  border-color:lightgrey;
  border-width: 1px;    
  padding: 1em;  
   /* background-color:#F4f2ee; */
  background-color: rgb(244,242,238, 0.6);
}

.question-builder{
  border-style: solid;
  border-radius: 1em;
  border-color:darkgrey;
  border-width: 1px;    
  padding: 1em;  
  background-color:rgb(251,250,247, 0.8);
}

#multipleChoiceDiv{
  border-style: solid;
  border-radius: 1em;
  border-color:darkgrey;
  border-width: 1px;    
  padding: 1em;  
  background-color:#FDFCFB;  
}

.answer-letter{
  display: none;
}

@media (min-width: 576px) {
  .answer-letter{
    display:inline-flex;
  }
}

.App-link {
  color: #61dafb;
}

.main {
  /* background-color: cadetblue;   */
  min-height: 100vh;
  word-wrap: break-word;
  background-image: url('/public/assets/tim-arterbury-hsztMXLuC6s-unsplash.webp') ;
  background-size: cover;
  background-position: center;
}

.nav {
  font-weight: bold;
  text-align: center;
  background-color: white;
  font-size: 22px;
  margin: auto;  
  padding: 6%;
  
}

.editSelect{
  margin-left: auto;
  margin-right: auto;
  min-width: 50em;  
}

.title-card {

  border-color: darkgrey; /* Change only the border color */
  display: inline-block; /* Ensures the card only takes necessary space */
  width: auto; /* Fits content */
  max-width: fit-content; /* Ensures it doesn't stretch */
  white-space: nowrap; /* Prevents wrapping */
  justify-self: center;
  opacity: 0.95

}

.surrounding-card {
  background-color: rgba(255,255,255, 0) !important;
  padding: 20px
}

@media (min-width: 768px) {
  .surrounding-card {
    width:85%;
    justify-self: center;
  }

  .question-builder {
    width: 90%;
    justify-self: center;    
  }

  #multipleChoiceDiv{
    width: 85%;
    justify-self: center;
    margin-bottom: 1em;
  }
}

@media (min-width: 1024px) {
  .surrounding-card {
    width:70%;
    justify-self: center;
  }
}

.medtextbox{
  width: 30%;
}

.text-input {    
  width: 100%; 
  font-size:small; 
}

.alignCentre{
  text-align: center;
}

.floatCenter{
  justify-content: center;
  background-color: #a1101f;
}

.button:hover{
  cursor: pointer;
}

.btn-primary{
  opacity: 0.85;
}

.btn-delete{
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
  border-radius: 4px;
}

#createButton {
  float: center;    
  height: 4rem;
  font-size: large;
  border-width: 2px;
  border-radius: 0.75rem;  
}

#editButton{
  float:right;
  margin-right:70%;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
